<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Forgot Password || SK DIGI TECH</title>

    <!-- Font Icon -->
    <link
      rel="stylesheet"
      href="fonts/material-icon/css/material-design-iconic-font.min.css"
    />

    <!-- Main css -->
    <link rel="stylesheet" href="/Stylesheets/new.css" />
  </head>
  <body>
  
    <div class="main">
      <!-- Sing in  Form -->
      <section class="sign-in">
        <div class="container">
          <div class="signin-content">
            <div class="signin-image">
              <figure>
                <img src="./img/Authentication.gif" alt="sing up image" />
              </figure>
              <a href="/forgot" class="signup-image-link"
                >Go Back</a>
            </div>

            <div class="signin-form">
              <h2 class="form-title">Reset Password</h2>
              <form
              action="" method="post"
                class="register-form"
                id="login-form"
              >
                <div class="form-group">
                  <label for="username"
                    ><i class="zmdi zmdi-account material-icons-name"></i></label>
                    <input type="password" name="password" placeholder="Enter New Password" id="" required>

                    <input type="hidden" name="user_id" value="<%= user_id%>">
                </div>
                
                <div class="form-group form-button">
                    <input class="form-submit" type="submit" value="Submit">
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
	
    <% 

    if(typeof message !== 'undefined'){
        %>

        <h2 style="color: green;"><%= message %></h2>

        <%
    }

%> 

  </body>
</html>
