<% include('../Layouts/Header.ejs') %>


<h1> Enter Mail to Forgot Password</h1>

<% 

    if(typeof message !== 'undefined'){
        %>

        <h2 style="color: green;"><%= message %></h2>

        <%
    }

%>

<form action="/forgot" method="post" >

    <input type="email" name="email" placeholder="Email" id="" required>

    <input type="submit" value="Next">

</form>


<% include('../Layouts/Footer.ejs') %>