<% include('../Layouts/Header.ejs') %>


    
<h1>Login</h1>

<% 

    if(typeof message !== 'undefined'){
        %>

        <h2 style="color: green;"><%= message %></h2>

        <%
    }

%>

<form action="/login" method="post">

    <input type="email" name="email" placeholder="Email" id="" required>
    <input type="password" name="password" placeholder="password" id="" required>

    <input type="submit" value="Login">

</form>

<a href="/forgot">Forgot Password</a>
<a href="/resend-verify-mail">Resend Verify Mail</a>

<% include('../Layouts/Footer.ejs') %>