<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <met  a name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 
  <link rel="stylesheet" href="/Stylesheets/styles.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>

  <div class="main-wrapper">

    <div class="nav-background">

      <div class="mobile-logo">

        <a href=""><span class="Highlight">S</span>k <span class="Highlight">D</span>igi <span class="Highlight">T</span>ech</a>

      </div>

      <div class="nav-links">

        <ul>


          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Courses</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Blogs</a></li>
         <li><a href="#">Contact Us</a></li>


        </ul>

      </div>

      <div class="contact flex align-items">

        <i class="fa-solid fa-user"></i> 
        <div>

         <h4><a href="/index">Profile</a></h4>

        </div>

      </div>

      <div class="time flex align-items">

        <i class="fa-solid fa-calendar"></i>
       
        <div>

         <h4> <a href="#">Calanders</a> </h4>

        </div>

      </div>

    </div>

    <div class="site-content-wrapper">

      <div class="nav-trigger">

        <i class="fa-solid fa-bars"></i>

      </div>

      <div class="site-content">

        <header class="header">

          <div class="container">
      
                <div class="icons">
      
                  <a href="https://www.facebook.com/groups/1532530887184305">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                  <a href=""><i class="fab fa-whatsapp"></i></a>
                  <a href="https://github.com/Ahsanmusht?tab=repositories">
                    <i class="fa-brands fa-github"></i>
                  </a>
                  <a href="#"><i class="fa-brands fa-twitter"></i></a>
      
                </div>
                <div class="profile">
      
                    <div>
                      <i class="fa-solid fa-calendar"></i>
                      <a href="#">Calanders</a>

                    </div>
                   
      
                    <span class="divider">|</span>
      
                    <div>
      
                      
                      <a href="/index"><img style="width: 1.7rem;
                       border-radius: 50%;" 
                      src="Uploads/<%= user.image%>" alt=""> </a>
                     
                  </div>
      
                </div>
      
          </div>
      
      
        </header>
        
        <!-- HEADER SECTION ENDS ---->
        
        
        <!-- SUB HEADER SECTION STARTS -->
      
          <nav class="navbar">
      
              <div class="top">
      
                <div class="container flex justify-between">
      
                  <div class="contact flex align-items">
      
                    <a href="#"><i style="color: #eebf00;" class="fa-solid fa-phone-volume"></i></a>
      
                    <div>
      
                      <h5>Cell No : (+92) 3160115787</h5>
                      <h6>Email : ahsanmushtaq901@gmail.com</h6>
      
                    </div>
      
                  </div>
                  <div class="logo flex align-items">
      
                    <!-- <img style="height: 20vh; width: 100%;" src="./IMG/new-removebg-preview.png" alt=""> -->
      
                    <a href=""><span class="Highlight">S</span>k <span class="Highlight">D</span>igi <span class="Highlight">T</span>ech</a>
      
                  </div>
                  <div class="timming flex align-items">
      
                    <a href="#"><i  style="color: #eebf00;" class="fa-solid fa-clock"></i></a>
      
                    <div>
      
                      <h5>Working Hours :</h5>
                      <h6>Monday to Friday (11:00 PM)</h6>
      
      
                  </div>
      
                </div>
      
              </div>
      
              <div class="navbar-2 magic-shadow">
      
                <div class="container flex justify-center">
      
                  <a href="#" class="active">Home</a>
                  <a href="#">About Us</a>
                  <a href="#">Courses</a>
                  <a href="#">Services</a>
                  <a href="#">Gallery</a>
                  <a href="#">Blogs</a>
                  <a href="#">Contact Us</a>
      
                </div>
      
      
              </div>
      
              
          </nav>
      
          <header class="hero flex align-items">
      
            <div class="container">
      
              <div class="welcome">
      
                <h1 style=" padding-top: 2rem; padding-bottom: 2rem;">Welcome<a href=""
                  style="color: var(--primary); font-family: 'Dancing Script', cursive;">
                  <%= user.name%>
              </a></h1>
      
              </div>
      
              <h1>The World Best <span class="Highlight">Learning</span><br> Website</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Dolorum  error hic voluptatum facere officia cum quidem,
              eos quasi? Omnis</p>
      
              <div>
      
                <button class="btn btn-primary">Get Started</button>
                <button class="btn btn-secondary">Read More</button>
      
              </div>
      
              <div class="image">
      
                <img src="./IMG/Learning_languages-cuate-removebg-preview.png" alt="">
      
              </div>
      
      
      
            </div>
      
          </header>
      
          <section class="courses">
      
            <div class="container">
      
              <h1 class="section-heading">Latest <a style="color: var(--primary); font-family: 'Dancing Script', cursive;" href="">Courses</a></h1>
      
              <div class="slider">
      
                <button class="slider-btn prev-btn"><i class="fa-solid fa-arrow-left"></i></button>
                <button class="slider-btn next-btn"><i class="fa-solid fa-arrow-right"></i></button>
      
                <div class="course-slider">
      
                        <div class="course-card magic-shadow-sm">
      
                          <div class="course-image flex align-items justify-center">
      
                            <img src="./IMG//html.png" alt="">
      
                          </div>
      
                          <hr>
      
                          <div>
      
                            <h2 class="text-center">Module : 1 Html</h2>
      
                            <div class="stars text-center">
      
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star-half-alt"></i>
      
                            </div>
      
                            <div class="price text-center">
      
                              $ 2.35
      
                            </div>
      
                            <div class="flex justify-center">
      
                              <button >
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Add to List</span>
                              </button>
      
                            </div>
      
                          </div>
      
                        </div>  
                        
                        <div class="course-card magic-shadow-sm">
      
                          <div class="course-image flex align-items justify-center">
      
                            <img src="./IMG//css.png" alt="">
      
                          </div>
      
                          <hr>
      
                          <div>
      
                            <h2 class="text-center">Module : 1 Css</h2>
      
                            <div class="stars text-center">
      
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star-half-alt"></i>
      
                            </div>
      
                            <div class="price text-center">
      
                              $ 2.23
      
                            </div>
      
                            <div class="flex justify-center">
      
                              <button >
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Add to List</span>
                              </button>
      
                            </div>
      
                          </div>
      
                        </div>  
      
                        <div class="course-card magic-shadow-sm">
      
                          <div class="course-image flex align-items justify-center">
      
                            <img src="./IMG//java-removebg-preview.png" alt="">
      
                          </div>
      
                          <hr>
      
                          <div>
      
                            <h2 class="text-center">Module : 1 Javascript</h2>
      
                            <div class="stars text-center">
      
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star-half-alt"></i>
      
                            </div>
      
                            <div class="price text-center">
      
                              $ 4.43
      
                            </div>
      
                            <div class="flex justify-center">
      
                              <button >
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Add to List</span>
                              </button>
      
                            </div>
      
                          </div>
      
                        </div>  
      
                        <div class="course-card magic-shadow-sm">
      
                          <div class="course-image flex align-items justify-center">
      
                            <img src="./IMG//nodejs.png" alt="">
      
                          </div>
      
                          <hr>
      
                          <div>
      
                            <h2 class="text-center">Module : 2 Node Js</h2>
      
                            <div class="stars text-center">
      
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star-half-alt"></i>
      
                            </div>
      
                            <div class="price text-center">
      
                              $ 5.50
      
                            </div>
      
                            <div class="flex justify-center">
      
                              <button >
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Add to List</span>
                              </button>
      
                            </div>
      
                          </div>
      
                        </div>  
      
                        <div class="course-card magic-shadow-sm">
      
                          <div class="course-image flex align-items justify-center">
      
                            <img src="./IMG//railway.svg" alt="">
      
                          </div>
      
                          <hr>
      
                          <div>
      
                            <h2 class="text-center">Module : 2 Railway Host</h2>
      
                            <div class="stars text-center">
      
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star-half-alt"></i>
      
                            </div>
      
                            <div class="price text-center">
      
                              $ 2.23
      
                            </div>
      
                            <div class="flex justify-center">
      
                              <button >
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Add to List</span>
                              </button>
      
                            </div>
      
                          </div>
      
                        </div>  
      
                        <div class="course-card magic-shadow-sm">
      
                          <div class="course-image flex align-items justify-center">
      
                            <img src="./IMG//mango-removebg-preview.png" alt="">
      
                          </div>
      
                          <hr>
      
                          <div>
      
                            <h2 class="text-center">Module : 2 Mongo Db</h2>
      
                            <div class="stars text-center">
      
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star-half-alt"></i>
      
                            </div>
      
                            <div class="price text-center">
      
                              $ 3.33
      
                            </div>
      
                            <div class="flex justify-center">
      
                              <button >
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Add to List</span>
                              </button>
      
                            </div>
      
                          </div>
      
                        </div>  
      
                        <div class="course-card magic-shadow-sm">
      
                          <div class="course-image flex align-items justify-center">
      
                            <img src="./IMG//react.png" alt="">
      
                          </div>
      
                          <hr>
      
                          <div>
      
                            <h2 class="text-center">Module : 3 React Js</h2>
      
                            <div class="stars text-center">
      
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star-half-alt"></i>
      
                            </div>
      
                            <div class="price text-center">
      
                              $ 6.00
      
                            </div>
      
                            <div class="flex justify-center">
      
                              <button >
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Add to List</span>
                              </button>
      
                            </div>
      
                          </div>
      
                        </div>  
      
                </div>
      
              </div>
      
              <div class="btn-wrapper text-center">
      
                <button class=" btn btn-secondary">Show More</button>
      
              </div>
      
            </div>
      
          </section>
      
          <section class="about">
      
            <div class="container">
      
              <h1 class="section-heading">About <a style="color: var(--primary); font-family: 'Dancing Script', cursive;" href="">Sk Digi Tech</a></h1>
      
              <div class="about-wrapper flex">
      
                <div class="flex-1">
      
                  <img src="./IMG/about-removebg-preview.png" alt="">
      
                </div>
      
                <div class="flex-1">
      
                  <h2>The Best Place to Build, Test And Discover Code </h2>
      
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                   Natus voluptas dicta debitis. Illo illum cumque magni non 
                    repellendus, perferendis dolorem ipsa ratione molestiasmagnam inventore saepe provident? Neque, ullam.</p>
      
                    <button class="btn btn-secondary">Read More</button>
      
                </div>
      
              </div>
      
            </div>
      
          </section>
      
          <section id="services" class="services">
      
              <div class="container">
      
                <h1 class="section-heading">Services</h1>
      
                <div id="services-wrapper" class="services-wrapper flex">
      
                  <div class="service-card magic-shadow-sm">
      
                    <img src="./IMG/laptop.png" alt="" class="icon">
      
                    <h2>Learn Course Online</h2>
      
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      
                      <button class="btn-secondary btn">Read More</button>
                    
                  </div>
      
                  <div class="service-card magic-shadow-sm">
      
                    <img src="./IMG/groupsss.png" alt="" class="icon">
      
                    <h2 class="Highlight">High Qualified Teachers</h2>
      
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      
                      <button class="btn-primary btn">Read More</button>
                    
                  </div>
      
                  <div class="service-card magic-shadow-sm">
      
                    <img src="./IMG/books.png" alt="" class="icon">
      
                    <h2>Books PDF</h2>
      
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      
                      <button class="btn-secondary btn">Read More</button>
                    
                  </div>
      
      
      
                </div>
      
              </div>
      
          </section>
      
          <section class="calander">
      
            <div class="container">
      
              <h1 class="section-heading text-pure">Calander</h1>
      
              <div class="timer">
      
                <div>
      
                  <span>69</span>
                  <span>Days</span>
      
                </div>
                <div>
      
                  <span>24</span>
                  <span>Hours</span>
      
                </div>
                <div>
      
                  <span>34</span>
                  <span>Minutes</span>
      
                </div>
                <div>
      
                  <span>53</span>
                  <span>Seconds</span>
      
                </div>
      
              </div>
      
            </div>
      
          </section>
      
          <section class="blogs">
      
              <div class="container">
      
                <h1 class="section-heading">Latest <a href="" style="color: var(--primary); font-family: 'Dancing Script', cursive;">Blogs</a></h1>
       
                <div class="article-wrapper">
      
                  <article class="card magic-shadow-sm">
      
                    <div>
      
                      <img src="./IMG/course1.jpg" alt="">
      
                    </div>
      
                    <div class="card-content">
      
                      <div class="post-meta flex align-items justify-between">
      
                        <span>Feburary 23, 2023</span>
      
                        <div>
      
                          <span>Posted by <strong>Sk Ahmer Ali</strong></span>
                          <span class="comment">34 Comments</span>
      
                        </div>
      
                      </div>
      
                      <h2>Your one-stop shop to studying in the US</h2>
      
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                         Temporibus modi quia perspiciatis adipisci reiciendis cum in.
      
                      </p>
      
                    </div>
      
                  </article>
      
                  <article class="card magic-shadow-sm">
      
                    <div>
      
                      <img src="./IMG/course5.jpg" alt="">
      
                    </div>
      
                    <div class="card-content">
      
                      <div class="post-meta flex align-items justify-between">
      
                        <span>Feburary 23, 2023</span>
      
                        <div>
      
                          <span>Posted by <strong>Sk Ahmer Ali</strong></span>
                          <span class="comment">34 Comments</span>
      
                        </div>
      
                      </div>
      
                      <h2>Your one-stop shop to studying in the US</h2>
      
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                         Temporibus modi quia perspiciatis adipisci reiciendis cum in.
      
                      </p>
      
                    </div>
      
                  </article>
      
                </div>
      
                <div class="text-center btn-wrapper">
      
                  <button class="btn-secondary btn">View More</button>
      
                </div>
      
              </div>
      
          </section>
      
          <section class="contact-us flex">
      
            <div class="contact-info-wrapper">
      
              <h1 class="section-heading">Contact Us</h1>
      
              <div class="contact-info">
      
                <div>
      
                  <div>
      
                    <i class="	fas fa-phone"></i>
      
                    <div>
      
                      <span>Cell No:-</span>
                      <span>(+92)3160115787</span>
      
                    </div>
      
                  </div>
      
                  <div>
      
                    <i class="fa-solid fa-envelope"></i>
      
                    <div>
      
                      <span>Email:-</span>
                      <span>ahsanmushtaq901@gmail.com</span>
      
                    </div>
      
                  </div>
      
                  <div>
      
                    <i class="fa-solid fa-location-dot"></i>
      
                    <div>
      
                      <span>Address:-</span>
                      <span>House No M691 ,MM Colony, Orangi Town, Karachi</span>
      
                    </div>
      
                  </div>
      
                </div>
      
      
              </div>
      
            </div>
      
            <div class="map">
      
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.1487173120795!2d66.98517411447958!3d24.961054347366897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb36a9a050cef1f%3A0x6be5d88d25ecd0cc!2sRehmat%20Chowk%20Bus%20Stop!5e0!3m2!1sen!2s!4v1677145194383!5m2!1sen!2s" width="100%" height="100%" style="border:0;"
               allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      
            </div>
      
      
          </section>
      
          <footer class="footer">
      
            <div class="container">
      
              <div class="box">
      
                <h3>About Us</h3>
      
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Mollitia eius a ad consectetur dolor ab odio blanditiis?</p>
      
                 <button class="btn btn-primary">Read More</button>
      
              </div>
              <div class="box">
      
                <h3>Quick Links</h3>
      
                <ul>
      
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Courses</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Gallery</a></li>
                  <li><a href="#">Blogs</a></li>
                 <li><a href="#">Contact Us</a></li>
      
                </ul>
      
              </div>
              <div class="box">
      
                <h3>Follow Us</h3>
      
                <ul>
      
                  <li>
                    <a href="https://www.facebook.com/groups/1532530887184305">
                           <i class="fa-brands fa-facebook"></i>
                           &nbsp;
                           <span>facebook</span>
                    </a>
                </li>
      
                  <li>
      
                    <a href="#">
                      <i class="fab fa-whatsapp"></i>
                      &nbsp;
                      <span>whatsapp</span>
                    </a>
                    
      
                  </li>
      
                  <li>
      
                    <a href="https://github.com/Ahsanmusht?tab=repositories">
                        <i class="fa-brands fa-github"></i>
                        &nbsp;
                        <span>github</span>
                    </a>
      
                  </li>
      
                  <li>
      
                    <a href="#">
                      <i class="fa-brands fa-twitter"></i>
                      &nbsp;
                      <span>twitter</span>
                    </a>
      
                  </li>
      
                </ul>
      
              </div>
              <div class="box instagram">
      
                <h3>Instagram</h3>
      
                <div class="post-wrapper">
      
                  <div>
      
                    <img src="./IMG/course1.jpg" alt="">
      
                  </div>
                  <div>
      
                    <img src="./IMG/course2.jpg" alt="">
      
                  </div>
                  <div>
      
                    <img src="./IMG/course3.jpg" alt="">
      
                  </div>
                  <div>
      
                    <img src="./IMG/course4.jpg" alt="">
      
                  </div>
                  <div>
      
                    <img src="./IMG/course5.jpg" alt="">
      
                  </div>
                  <div>
      
                    <img src="./IMG/course1.jpg" alt="">
      
                  </div>
      
                </div>
      
              </div>
      
            </div>
      
          </footer>
          <footer class="copyright">
      
            <div>
      
              Copyright 2023 @ All Right Reserved Created By <a href="https://github.com/Ahsanmusht?tab=repositories">
                Ahsan Mushtaq
              </a>
      
            </div>
          
          </footer>
         

      </div>

    </div>

  </div>


<!-- JAVASCRIPTS -->

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> 
  <script src="/Javascript/app.js"></script>
</body>
</html> 